<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header">
        <img src="../static/figures/sqlsolutions_logo_no_bg.png" alt="SQLSolutions Logo" height="100%">
        <h1>SQLSolutions</h1>
    </div>
    <div class="login-container">
        <div class="box">
            <h1>Login</h1>
            <form action="login-endpoint" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <!-- move login button into form when backend form handling is implemented-->
            </form>
            <a href="fileSystemHomePage.html" class="button">Login</a>
            <a href="registerPage.html" class="button">Register</a>
        </div>
    </div>
</body>

</html>